@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=VT323&display=swap");

*,
*::before,
*::after,
h1,
h2 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-family: "VT323", monospace;
}

header {
	display: flex;
	justify-content: center;
}

#logo > h1 {
	font-family: "Black Ops One", cursive;
	font-weight: 400;
	font-size: 60px;
}

#instructions-area {
	display: flex;
	justify-content: center;
}

.instructions {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "VT323", monospace;
	justify-content: center;
	border: 2px solid white;
	border-radius: 50px;
	margin: 10px 0 20px 0;
	width: 60vw;
	gap: 5px;

	height: 80px;
}

.instructions p,
#hitMiss {
	/* margin: 15px; */
}

:where(#game-area) {
	display: flex;
	justify-content: space-around;
}

#player-gameboard,
#computer-gameboard {
	display: grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: repeat(10, 50px);
	background-color: rgb(72, 74, 74);
}

.game-tile {
	border: 1px solid white;
}

.tile-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-player="computer"] {
	cursor: pointer;
}
[data-player="human"] {
	cursor: not-allowed;
}

.board-label {
	display: flex;
	justify-content: center;
	margin: 15px;
	font-family: "Press Start 2P", cursive;
}

/* --- INITIAL SET-UP --- */

#ship-placer {
	background-color: rgb(72, 74, 74);
	padding: 20px 30px 30px 30px;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	height: fit-content;
}

#play-btn {
	margin-top: 30px;
	width: 150px;
	height: 70px;
	align-self: center;
	font-family: "Press Start 2P", cursive;
}

#ship-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-content: space-around;
}

.placing-ships {
	display: flex;
	width: fit-content;
}

.drawn-ship {
	height: 50px;
	aspect-ratio: 1/1;
	border: 1px solid white;
	background-color: blue;
	cursor: move;
}

/* --- SET-UP INTERACTIONS --- */

.selected {
	opacity: 0.3;
	cursor: not-allowed;
}

.has-ship {
	background-color: blue;
}

.has-ship-shadow {
	background-color: rgba(0, 0, 255, 0.491);
}

.unavailable {
	background-color: green;
}

/* --- GAME INTERACTIONS --- */
.tile-hit {
	background-color: red;
}

.tile-miss {
}

#hitMiss {
	font-family: "Press Start 2P", cursive;
	font-size: 1rem;
	font-weight: 700;
}

.tile-sunk {
	background-color: rgb(52, 52, 52);
}

/* --- CSS MAGIC --- */
.hidden {
	display: none;
}

/* --- TO REMOVE AFTER INIT --- */
.set-up {
	cursor: grab;
}

.setup-gameboard {
	justify-content: center;
	gap: 20px;
}
